{% assign news_items = site.news | sort: "date" | reverse %}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <div class="d-flex align-items-center p-3 mb-0 border-bottom border-gray">
          <h6 class="mb-0"><i class="fas fa-rss"></i> News</h6>
    </div>
    <div class="px-3 pb-1" style="font-size: 0.9375rem;">
        {% for item in news_items %}
            <div class="my-2"><span class="text-muted">{{ item.date | date: "%m/%Y" }}:</span> {{ item.title }}</div>
        {% endfor %}
    </div>
</div>
