{% if site.data.profile.service.reviewer %}
<div class="card border-0 shadow-sm bg-white mt-4">
  <div class="card-body p-4">
    <h6><i class="fas fa-pen"></i> Reviewer</h6>
    <ul class="list-unstyled ml-2 small mt-3 mb-0">
      {% for item in site.data.profile.service.reviewer %}
      <li class="mb-1">
        {% if item.conference %}
          {{ item.conference }}{% if item.year %} ({{ item.year }}){% endif %}
        {% elsif item.journal %}
          {{ item.journal }}{% if item.year %} ({{ item.year }}){% endif %}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
